@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-BoldItalic';
  src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../fonts/DMSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-MediumItalic';
  src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.75;
  color: #5C5C5C;
  max-width: 30rem;
}

img {
  display: block;
  margin: 2rem auto 0;
}

ul {
  font-family: 'DMSans-Regular';
}

h1 {
    font-family: 'DMSans-Bold';
    font-size: 2rem;
    text-align: center;
  }

h2 {
    font-family: 'DMSans-Bold';
    font-size: 1.5rem;
  } 

h3 {
    font-family: 'DMSans-Regular';
    font-size: 1.125rem;
  }

.readhere {
    font-family: 'DMSans-Bold';
    font-size: 1em;
}

p {
    font-family: 'DMSans-Regular';
    font-size: 1em;
}

.header {
  text-align: center;
}

.projectpreview1 {
  background-color: #F7D6CF;
}

.projectpreview2 {
  background-color: #F4E6CB;
}

.projectpreview3 {
  background-color: #CAECFF;
}