@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-BoldItalic';
  src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../fonts/DMSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-MediumItalic';
  src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  color: #5C5C5C;
  max-width: 30rem;
}

.content {
  line-height: 1.75;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.navbar {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 8px 16px;
    width: auto;
}

.link1 {
  float: left;
  padding-right: 6rem;
}

.link2 {
  float: left;
  padding-right: 1rem;
}

.link3 {
  float: left;
}

footer {
  background-color: #f6f6f6;
  padding: 0;
  padding: 1.5em;
  line-height: 1.75;
}

img, video {
  display: block;
  margin: 2rem auto 0;
}

ul {
  font-family: 'DMSans-Regular', sans-serif;
}

h1 {
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
  }

h2 {
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 1.5rem;
  } 

h3 {
    font-family: 'DMSans-Regular', sans-serif;
    font-size: 1.125rem;
  }

p {
    font-family: 'DMSans-Regular', sans-serif;
    font-size: 1em;
}

.project {
  margin-bottom: 5rem;
}

.description {
  margin-top: 2rem;
}

.header {
  text-align: center;
}

.projectpreview1 {
  background-color: #F7D6CF;
  border-radius: .625rem;
}

.projectpreview2 {
  background-color: #F4E6CB;
  border-radius: .625rem;
}

.projectpreview3 {
  background-color: #CAECFF;
  border-radius: .625rem;
}

.button1 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #F7D6CF;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.button2 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #F4E6CB;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.button3 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #CAECFF;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #5C5C5C;
  font-family: 'DMSans-Bold';
  font-size: 1em;
}