@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-BoldItalic';
  src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../fonts/DMSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-MediumItalic';
  src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  color: #5C5C5C;
  margin-right: auto;
  margin-left: auto;
}

header {
  margin-bottom: 3em;
  margin-top: 3rem;
  text-align: center;
}

.content {
  line-height: 1.75;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  height: 80px;
}

nav img {
  height: 70px;
  position: absolute;
  left: 1.5em;
  vertical-align: middle;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  vertical-align: middle;
}

footer {
  margin-top: 3rem;
}

.column {
  float: left;
  width: 33.33%;
  height: 80px;
  background-color: #f6f6f6;
  padding: 1em 0;
}

.social, video {
  display: block;
  margin: 2rem auto 0;
}

ul {
  font-family: 'DMSans-Regular', sans-serif;
}

h1 {
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
  }

h2 {
    font-family: 'DMSans-Bold', sans-serif;
    font-size: 1.5rem;
  } 

h3 {
    font-family: 'DMSans-Regular', sans-serif;
    font-size: 1.125rem;
  }

p {
    font-family: 'DMSans-Regular', sans-serif;
    font-size: 1em;
}

.project {
  margin-bottom: 5rem;
}

.description {
  margin-top: 2rem;
  text-align: center;
}

/* Project images in containers (spacing solved!)*/
.container1 {
  background-color: #F7D6CF;
  border-radius: .625rem;
  max-width: 350px;
  padding: 1rem;
  margin: 0px auto;
  text-align: center;
  display: block;
  width: 300px;
  height: 256.41px;
}

.container2 {
  background-color: #F4E6CB;
  border-radius: .625rem;
  max-width: 350px;
  padding: 1rem;
  margin: 0px auto;
  text-align: center;
  display: block;
  width: 300px;
  height: 216.09px;
}

.container3 {
  background-color: #CAECFF;
  border-radius: .625rem;
  max-width: 350px;
  padding: 1rem;
  margin: 0px auto;
  text-align: center;
  display: block;
  height: 300px;
}

.project1 {
  display: inline-block;
  margin: 0px auto;
  width: 300px;
  height: 256.41px;
}

.project2 {
  display: inline-block;
  margin: 0px auto;
  width: 300px;
  height: 216.09px;
}

.project3 {
  display: inline-block;
  margin: 0px auto;
  width: 145.31px;
  height: 300px;
}

.button1 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #F7D6CF;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.button2 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #F4E6CB;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.button3 {
  font-family: 'DMSans-Bold';
  font-size: 1em;
  text-align: center;
  background-color: #CAECFF;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 220px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #5C5C5C;
  font-family: 'DMSans-Bold';
  font-size: 1em;
}

.top {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.subtopic {
  margin-bottom: 3rem;
}

.me {
  margin-bottom: 3rem;
}